@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Gotham";
    src: url("../font/GothamMedium.ttf");
}

*{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: white;
    font-family: Gotham;
    font-size: 18px;
    height: 100svh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

h2, h3, h4{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    box-shadow: none;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.sidebar{
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2vh;
}

[class*="side-"]{
    background-color: #121212;
    width: 100%;
    padding: 5% 7%;
    margin: 1.1% 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side-1{height: 22%; margin: 0;}
.side-2{height: 78%; margin: 0;}

.side-1 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin: 1% 0;
    color: #a6a6a6;
    transition: all 0.25s ease;
}

.side-1 a:hover{
    color: white;
}

.side-1 a span{
    font-size: 25px;
}

.side-1 .current{
    color: white;
}

.side-1{
    margin-bottom: 2vh;
}

.side-2{
    padding: 1% 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}

.side-2 .lib-nav .top div{
    display: flex;
    align-items: center;
}

.side-2 .lib-nav .top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #a6a6a6;
}

.side-2 .lib-nav .top div{
    display: flex;
    gap: 1vw;
}

.side-2 .lib-nav .top div .libico{
    fill: #a6a6a6;
}

.side-2 .lib-nav .top .lib-ico{
    display: flex;
    gap: 2vw;
}

.side-2 .lib-nav .bottom ul{
    padding: 0;
    margin: 1% 0;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    gap: 1vw;
    font-size: 0.8rem;
}

.side-2 .lib-nav .bottom ul li{
    padding: 10px;
    margin: 0;
    background-color: #282828;
    border-radius: 40px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.25s ease;
}

.side-2 .lib-nav .bottom ul li:hover{
    background-color: #323232;
}

.side-2 .lib-nav .bottom ul li:last-child{
    opacity: 0.6;
}

.side-2 .lib-nav .bottom div{
    margin: 5% 0;
    color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-2 .lib-nav .bottom div button{
    font-size: 14px;
    color: #a6a6a6;
    display: flex;
    align-items: center;
}

.side-2 .lib{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.side-2 .lib .card {
    padding: 10px 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.25s ease;
}

.side-2 .lib .card:hover{
    background-color: #282828;
    border-radius: 6px;
}

.side-2 .lib .card img{
    height: 8vh;
    border-radius: 3px;
    box-shadow: 0 0 20px #0000007e;
}

.side-2 .lib .card .artist{
    border-radius: 100%;
}

.side-2 .lib .card div{
    margin: 0 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.side-2 .lib .card div h4{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.side-2 .lib .card div div{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.side-2 .lib .card div div ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 6px;
}

.side-2 .lib .card div div span{
    color: #1bc458;
    font-size: 14px;
    transform: rotateZ(50deg);
}

.side-2 .lib .card div div ul li{
    padding: 0;
    margin: 0;
    color: #a6a6a6;
    display: flex;
}



.main{
    margin-top: 2vh;
    height: 100%;
    padding-right: 1vw;
}

.container{
    background-image:linear-gradient(180deg, #4b0e0e 0%, #121212 60%);
    height: 83%;
    border-radius: 6px;
    padding: 1% 2.5%;
    overflow-y: overlay;
    overflow-x: hidden;
}

.main .container div{
    margin: 0;
    padding: 0;
}

.main .container .controls{
    margin: 0.6% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .container .controls .nav button{
    padding: 0;
    color: #fff;
    background-color: #000000ae;
    opacity: 0.6;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    height: 35px;
    width: 35px;
}

.main .container .controls .nav button:hover{
    opacity: 1;
}

.main .container .controls .profile img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: solid 4px #0000007e;
}

.main .container .controls .profile img:hover{
    border-width: 5px;
}

.main .container h2{
    margin: 3% 0;
}

.main .container .recommended{
    margin: 3% 0;
}

.main .container .recommended ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 12px;
}

.main .container .recommended ul li{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #dddddd22;
    padding-right: 3%;
    height: 10vh;
    min-width: 180px;
    width: 30%;
    border-radius: 3px;
    box-shadow: 0 0 20px #0000003d;
    transition: all 0.4s ease;
}

.main .container .recommended ul li img{
    height: 100%;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 0 0 10px #0000007e;
}

.main .container .recommended ul li .play span{
    display: none;
    color: #1bc458;
    font-size: 30px;
}

.main .container .recommended ul li:hover{
    background-color: #dddddd66;
}

.main .container .recommended ul li:hover .play span{
    display: flex;
    position: relative;
    left: 1.8vw;
}

.main .container .mixes {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .container .mixes div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .container .mixes div{
    margin-bottom: 3vh;
}

.main .container .mixes div h3{
    font-size: 20px;
}

.main .container .mixes div h3:hover{
    text-decoration: underline;
}

.main .container .mixes div a{
    margin: 0;
    padding: 0;
    color: #a6a6a6;
    font-size: 13px;
    font-weight: 600;
}

.main .container .mixes div a:hover{
    text-decoration: underline;
}

.main .container .mixes ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    gap: 3%;
}

.main .container .mixes ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #181818;
    padding: 16px;
    border-radius: 6px;
    transition: all 0.4s ease;
}

.main .container .mixes ul li:hover{
    background-color: #282828;
}

.main .container .mixes ul li img{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 20px #0000007e;
}

.main .container .mixes ul li h3{
    margin: 8px 0;
    font-size: 15px;
}

.main .container .mixes ul li p{
    font-size: 12px;
    color: #a6a6a6;
    margin: 0;
    padding: 0;
}

.main .container .footer .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5% 0;
    padding-bottom: 5%;
    border-bottom: solid 0.5px #a6a6a68f;
}

.main .container .footer .top h4{
    font-size: 15px;
    margin: 8% 0;
    padding: 0;
}

.main .container .footer .top ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .container .footer .top .col-2 ul li a{
    color: #a6a6a6;
}

.player{
    height: 12%;
    width: 100%;
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 2%;
    font-size: 10px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player .left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.player .left img{
    height: 50px;
    width: 50px;
    border-radius: 6px;
}

.player .left div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.player .left div h2{
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.player .left div p{
    margin: 0;
    padding: 0;
    color: #a6a6a6;
}

.player .left button span{
    font-size: 18px;
    color: #1bc458;
}

.player .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player .center .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.player .center p{
    color: #a6a6a6;
}